extends ./_base

block content

  h2#button.deer-component-hdg Button

  .js-deer-component
      a(href="").btn.btn--sub サブボタン
      a(href="").btn メインボタン
        //img(src="", alt="").btn__icon
        //| 03-5577-3655