extends ./_base
block content

  h1#list.deer-component-hdg List

  .js-deer-component
    ul
      li シンプルなリスト
      li シンプルなリスト
      li シンプルなリスト

  .js-deer-component
    ul.list-dot
      li.list-dot__item アイコンつきリスト
      li.list-dot__item アイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリストアイコンつきリスト
      li.list-dot__item アイコンつきリスト