extends ./_base
block content

  h2#sentence.deer-component-hdg sentence

  .js-deer-component
    p.sentence あの青い空の波の音が聞こえるあたりに何かとんでもないおとし物を僕はしてきてしまったらしい、透明な過去の駅で遺失物係の前に立ったら僕は余計に悲しくなってしまった - 谷川俊太郎
    p.sentence Don’t walk behind me; I may not lead. Don’t walk in front of me; I may not follow. Just walk beside me and be my friend. - Albert Camus

  .js-deer-component
    .sentence
      p 空行をはさみたくない文章の場合
      p 空行をはさみたくない文章の場合