extends ./_base
block content
  
  h2#table.deer-component-hdg Table

  .js-deer-component
    table.tbl
      colgroup
        col(style="width: 100px")
        col
        col
      thead.tbl__head
        tr
          th 職種
          th 部署
          th ロケーション
      tbody.tbl__body
        tr
          th 見出し
          td.row-item 列幅はcolでインライン指定
          td.row-item hawthorne, California
        tr
          th 見出し
          td.row-item エンジニアリング
          td.row-item hawthorne, California
        tr
          th 見出し
          td.row-item エンジニアリング
          td.row-item hawthorne, California
        tr
          th 見出し
          td.row-item エンジニアリング
          td.row-item hawthorne, California